{% extends "base.html" %}

{% block title %}
    Change Password
{% endblock %}

{% block main %}
    <h3 class="question"><span>Change Password</span></h3>
    <form id="change-password-form" action="/change_password" method="post">
        <div class="mb-3">
            <input autocomplete="off" autofocus class="form-control mx-auto w-auto" id="password" name="password" placeholder="Current Password" type="password">
        </div>
        <div class="mb-3">
            <input class="form-control mx-auto w-auto" id="new_password" name="new_password" placeholder="New Password" type="password">
        </div>
        <button class="submit" type="submit">Submit</button>
    </form>
    <a href="/password_reset_auth">Forgot Password?</a>

{% endblock %}