{% extends "base.html" %}

{% block title %}
    Forgot Password
{% endblock %}

{% block main %}
    <h3 class="question"><span>Verify Account</span></h3>
    <form action="/forgot_password" method="post">
        <div class="mb-3">
            <input autocomplete="off" autofocus class="form-control mx-auto w-auto" id="username" name="username" placeholder="Username" type="text">
        </div>
        <div class="mb-3">
            <input class="form-control mx-auto w-auto" id="email" name="email" placeholder="Email" type="email">
        </div>
        <button class="submit" type="submit">Submit</button>
    </form>
{% endblock %}