{% extends "base.html" %}

{% block title %}
    Sign Up
{% endblock %}

{% block main %}
<div>
<h4 class="profile"><span>Over 900 Questions<br><br>Tests Created Daily!</span></h4>
</div>
<br>
<div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="..\static\NFL.jpg" class="d-block w-100" alt="Football player prepares to catch a football.">
        <div class="carousel-caption">
            <h3>NFL</h3>
        </div>
      </div>
      <div class="carousel-item">
        <img src="..\static\NBA.jpg" class="d-block w-100" alt="A basketball player jumps to grab a basketball.">
        <div class="carousel-caption">
            <h3>NBA</h3>
        </div>
      </div>
      <div class="carousel-item">
        <img src="..\static\NCAAFB.jpg" class="d-block w-100" alt="Football player runs with the football.">
        <div class="carousel-caption">
            <h3>NCAAFB</h3>
        </div>
      </div>
      <div class="carousel-item">
        <img src="..\static\NCAABB.jpg" class="d-block w-100" alt="Basketball player gets shot blocked.">
        <div class="carousel-caption">
            <h3>NCAABB</h3>
        </div>
      </div>
      <div class="carousel-item">
        <img src="..\static\GOLF.jpg" class="d-block w-100" alt="Golfer hits a shot into a green.">
        <div class="carousel-caption">
            <h3>GOLF</h3>
        </div>
      </div>
      <div class="carousel-item">
        <img src="..\static\MLB.jpg" class="d-block w-100" alt="Texas Rangers former baseball stadium.">
        <div class="carousel-caption">
            <h3>MLB</h3>
        </div>
      </div>
    </div>
  </div>
  <br>
  <br>
  <div>
    <h3 class="profile"><a class="profile-link" style="text-decoration:none" href="/signup">Sign Up Today!</a></h3>
  </div>

{% endblock %}